{% extends "layout.html" %}

{% block content %}
{% raw %}
  <script type="text/x-handlebars">
    <nav class="group">
        <ul class="navigation">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'leagues'}}Leagues{{/link-to}}</li>
        </ul>
    </nav>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="about">
    <section class="wrapper group">
      <h2>WTF is foosball.io?</h2>
    </section>
  </script>

  <script type="text/x-handlebars" id="leagues">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="leagues/index">
    <section class="leagues wrapper">
      <h2>Your Leagues</h2>
      <ol>
      {{#each model}}
        <li>{{#link-to 'league' id}}{{name}}{{/link-to}}</li>
      {{/each}}

      </ol>
      <button {{action 'addLeague'}}>Add a league</button>
    </section>
  </script>

  <script type="text/x-handlebars" id="leagues/new">
    <section class="leagues wrapper">
      <h2>Create a new league!</h2>
      {{input type="text" value=name placeholder="Your awesome league" size="50"}}
      <button {{action 'addLeague'}}>Make it so!</button>
    </section>
  </script>

  <script type="text/x-handlebars" id="league">
    <section class="wrapper">
      <h2>{{name}}</h2>
      <p>Welcome to the {{name}} league!</p>
      <div class="players">
        <h3>Players</h3>
        <ul>
        {{#each players}}
          <li>{{#link-to 'player' id}}{{name}}{{/link-to}}</li>
        {{/each}}
        </ul>
        <button {{action 'addPlayer'}}>Add a player</button>
      </div>
    </section>
    <section>
      <div class="players">
        <h3>Games</h3>
        <ul>
          {{#each games}}
          <li>{{#link-to 'game' id}}{{name}}{{/link-to}}</li>
          {{/each}}
        </ul>
        <button {{action 'addGame'}}>Add a game</button>
      </div>
    </section>
  </script>

  <script type="text/x-handlebars" id="players">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="players/index">
  </script>

  <script type="text/x-handlebars" id="player">
    <h1>Stats for Player {{name}}</h1>
  </script>

  <script type="text/x-handlebars" id="games">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="games/index">
  </script>

  <script type="text/x-handlebars" id="game">
    <div class="wrapper stats">
      <h2>Stats for Game {{name}}</h2>
      
      <section class="scores">
        <h3>Home Team Score</h3>
        <span>{{homeScore}}</span>
      </section>
      <section class="scores">
        <h3>Visiting Team Score</h3>
        <span>{{visitorScore}}</span>
      </section>
      <section class="player-info">
        <h3>Home</h3>
        <ul>
          {{#each homePlayers}}
          <li>{{#link-to 'player' id}}{{name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </section>
      <section class="player-info">
        <h3>Visitors</h3>
        <ul>
          {{#each visitorPlayers}}
          <li>{{#link-to 'player' id}}{{name}}{{/link-to}}</li>
          {{/each}}
        </ul>
      </section>
    </div>
  </script>

{% endraw %}
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/libs/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/handlebars-1.1.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/ember-1.2.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/ember-data-1.0.0-beta.4.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="{{ url_for('static', filename='tests/runner.js') }}"></script>
{% endblock %}