{% extends "layout.html" %}

{% block content %}
{% raw %}
  <script type="text/x-handlebars">
    <nav class="group">
        <ul class="navigation">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
            <li>{{#link-to 'leagues'}}Leagues{{/link-to}}</li>
        </ul>
    </nav>
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="about">
    <section class="wrapper group">
      <h2>WTF is foosball.io?</h2>
    </section>
  </script>

  <script type="text/x-handlebars" id="leagues">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="leagues/index">
    <section class="leagues wrapper">
      <h2>Your Leagues</h2>
      <ol>
        <li>{{#link-to 'league' 'skinnyscrub'}}Skinny Scrub League{{/link-to}}</li>
      </ol>
      <button {{action 'addLeague'}}>Add a league</button>
    </section>
  </script>

  <script type="text/x-handlebars" id="league">
    <section class="wrapper">
      <h2>{{name}}</h2>
      <p>Welcome to the {{name}} league!</p>
      <div class="players">
        <h3>Players</h3>
        <ul>
          <li>{{#link-to 'player' 'p1'}}P1{{/link-to}}</li>
          <li>{{#link-to 'player' 'p2'}}P2{{/link-to}}</li>
        </ul>
        <button {{action 'addPlayer'}}>Add a player</button>
      </div>
    </section>
    <section>
      <div class="players">
        <h3>Games</h3>
        <ul>
          <li>{{#link-to 'game' 'g1'}}Game 100{{/link-to}}</li>
          <li>Game 99</li>
          <li>Game 98</li>
          <li>Game 97</li>
          <li>Game 96</li>
        </ul>
        <button {{action 'addGame'}}>Add a game</button>
      </div>
    </section>
  </script>

  <script type="text/x-handlebars" id="players">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="players/index">
  </script>

  <script type="text/x-handlebars" id="player">
    <h1>Stats for Player {{name}}</h1>
  </script>

  <script type="text/x-handlebars" id="games">
    {{outlet}}
  </script>

  <script type="text/x-handlebars" id="games/index">
  </script>

  <script type="text/x-handlebars" id="game">
    <div class="wrapper stats">
      <h2>Stats for Game {{name}}</h2>
      
      <section class="scores">
        <h3>Home Team Score</h3>
        <span>{{homeScore}}</span>
      </section>
      <section class="scores">
        <h3>Visiting Team Score</h3>
        <span>{{visitorScore}}</span>
      </section>
      <section class="player-info">
        <h3>Home</h3>
        <ul>
          <li>{{#link-to 'player' 'p1'}}P1{{/link-to}}</li>
        </ul>
      </section>
      <section class="player-info">
        <h3>Visitors</h3>
        <ul>
          <li>{{#link-to 'player' 'p2'}}P2{{/link-to}}</li>
        </ul>
      </section>
    </div>
  </script>

{% endraw %}
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='js/libs/jquery-1.10.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/handlebars-1.1.2.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libs/ember-1.2.0.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="{{ url_for('static', filename='tests/runner.js') }}"></script>
{% endblock %}