// ******************************************************************************************************
//
// FOOSBALL.io
// 
//
// _screen.scss
//
// ******************************************************************************************************

// ------------------------------------------------------------------------------------------------------
// IMPORTS & VARIABLES

@import "compass";
@import "base";
@import "layout";
// ------------------------------------------------------------------------------------------------------
// PAGE STYLES

body {
  font-family: $body;
  font-weight: normal;
  color: $text-color-dark;
  background: $background-color;
  margin: 0; 
  padding: 0;
}

section {
  padding-top: 3em;
  @include clearfix;
}

p {
  @include adjust-font-size-to(16px, 1);
  padding: 0;
  margin: 1.5em 0;
}

h1 {
  color: $orange;
  @include adjust-font-size-to(32px, 1);
  font-family: $fancy;
  font-weight: 200;
  margin: 0;
  padding: 4% 0 0;
  text-align: center;
}

.box {
  display: block;
  background: $box-color;
  color: $background-color;
  padding: 0em 1.5em;
  margin-bottom: 1.5em;
  @include border-radius(4px);
  @include clearfix;
}

#menu {
  @extend .flat-nav;
}

@media (min-width: 50em) {
  h1 {
    float: left;
    padding: 2% 0 0;
    text-align: left;
  }
}