<section class="continer">
  <h2>{{league.name}}</h2>
  <p>Welcome to the {{league.name}} league!</p>
  <div class="players">
    <h3>Players</h3>
    <ul>
      <li ng-repeat="player in players">
        <a ng-href="/players/{{player.id}}">{{player.name}}</a>
      </li>
      <li ng-show="!players">no players yet!</li>
    </ul>
    <button>Add a player</button>
  </div>
</section>
<section>
  <div class="players">
    <h3>Games</h3>
    <ul>
      <li ng-repeat="game in games">
        <a ng-href="/games/{{game.id}}">{{game.name}}</a>
      </li>
      <li ng-show="!games">no games yet!</li>
    </ul>
    <button>Add a game</button>
  </div>
</section>
